
body{
    margin: 0px;
}

.top{
    overflow: hidden;
    background-color:  #1B9AF7;
    top: 0px;
}

.title{
    float: left;
    display: block;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    margin: 3px 10px 3px 10px;
}

.body{
    text-align: center;
}

.connect_box{
    background: #fff;
    margin: 20px auto;
    border-radius: 4px;
    padding: 13px 8px;
    box-shadow: 0 0 10px 0px rgba(155,143,143,0.2);
    width: 286px;
    text-align: center;
    display: block;
}

h2{
    margin: 0px;
    font-size: 21px;
    color: #1B9AF7;
}

.connect_box
h2{
    position: relative;
}

.connect_box
ol{
    list-style: none;
    padding: 0px;
}

.connect_box
ol li{
    padding: 6px 0 6px 0;
    line-height: 20px;
}

.leds_box{
    background: #fff;
    margin: 20px 20px 20px 20px;
    border-radius: 4px;
    padding: 13px 8px;
    box-shadow: 0 0 10px 0px rgba(155,143,143,0.2);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.led_table{
    border-collapse: separate;
    border-spacing: 20px 20px;
}

.led_table
tr td{
    width: 28px;
    height: 28px;
    background-color: #DCDCDC;
}

.leds_box
h2 span{
    color: #FF0000;
    font-size: 14px;
}

.info_box{
    background: #fff;
    margin: 20px 20px 20px 20px;
    border-radius: 4px;
    padding: 13px 8px;
    box-shadow: 0 0 10px 0px rgba(155,143,143,0.2);
    display: inline-block;
    vertical-align: top;
    width: 280px;
}

.info_box
h2 span{
    color: #FF0000;
    font-size: 14px;
}

.info_box
ol{
    list-style: none;
    padding: 0px;
}

.info_box
ol li{
    padding: 6px 0 6px 0;
    line-height: 20px;
}

.info_box
p{
    margin: 16px 0px 16px 0px;
}

button
{
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    height: 32px;
    padding: 0 40px;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    color: #FFF; 
}